@charset "UTF-8";

/*Todas as demais midias*/

/*typical device Breakpoints
-----------------------------
Pequenas telas: até 600px
celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media sreen and(min-width: 769px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}